body {
    font-family: Tahoma;
    padding: auto;
    margin: auto;
}
h1, p {
    text-align: center;
}
form {
    width: 700px;
    margin: auto;
    height: 100vh;

}
fieldset {
    margin: auto; 
    width: auto;
    height: auto;
}

label {
    display: block;
}
input[type="radio"] {
    width: 20px;
    max-height: 1em;
}
select, textarea {
    width: 99%;
    min-height: 2em;
}
input[type="text"], input[type="email"], input [type="number"] {
    width: 99%;
}